/* Design and coded by Russell John Gapasin */

@font-face {
    font-family: 'Dolce Vita Light';
    src: url('../fonts/dolce_vita_light-webfont.woff2') format('woff2'),
         url('../fonts/dolce_vita_light-webfont.woff') format('woff'),
         url('../fonts/dolce_vita_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
  }
}
/* If the screen size is 480px wide or less, set the font-size to 14px */
@media only screen and (max-width: 480px) {
  p {
    font-size: 0.8em;
  }
}

body {
	background: #1A1A1D;
  font-weight: 400;
  position: relative;
	font-family: 'Dolce Vita Light' !important;
  letter-spacing: 2px !important;
  color: #bc212e !important;
}
h1,h2,h3,h4,h5,h6, p {
  font-family: 'Dolce Vita Light' !important;
  letter-spacing: 2px !important;
  color: #fff !important;
}
p {
  color: #848484;
  font-weight: 400;
  /* font-size: 16px; */
  letter-spacing: 2px;
  line-height: 28px;
}
hr {
  border-top: 2px solid #bc212e !important;
}
.button-primary {
  background-color: transparent !important;
  color: #fff !important;
  letter-spacing: 2px !important;
  padding: 20px 40px !important;
  border: 1px solid #bc212e !important;
  border-radius: 4px !important;
  outline: none !important;
}
.button-primary:hover {
  background-color: #bc212e !important;
  transition: 0.3s ease !important;
}
.button-secondary {
  background-color: #bc212e !important;
  color: #fff !important;
  letter-spacing: 2px !important;
  padding: 20px 40px !important;
  border: 1px solid #bc212e !important;
  border-radius: 4px !important;
  outline: none !important;
}
.button-secondary:hover {
  filter: brightness(120%);
  transition: 0.3s ease !important;
}
.button-small {
  padding: 10px 20px !important;
}
.arrow {
  font-size: 50px;
  color: #fff !important;
}
.arrow:hover {
  filter: brightness(80%);
}
.color-primary {
  color: #bc212e !important;
}

/* navbar hamburger icon */
#nav-icon span{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background-color: #bc212e;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.heading {
  font-size: 22px;
  font-weight: 500;
	letter-spacing: 2px;
}
.subheading {
  font-size: 16px;
  padding-bottom: 60px;
}

hr {
	border-top: 2px solid #828282;
	width: 120px;
}
input,textarea {
	letter-spacing: 1.5px;
}
.menu, .gallery, .newsletter, .featured-dish, .team {
	padding-top: 100px;
	padding-bottom: 100px;
}
.menu, .contact, .testimonial {
  background: #1A1A1D;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}
.aboutUs, .testimonial {
	padding-top: 50px;
	padding-bottom: 50px;
}
.aboutUs-story {
  padding-top: 100px;
}
.no-padding {
	padding: 0 !important;
}
.box-padding {
	padding: 0 40px !important;
}
.menu-padding {
	padding: 0 7px !important;
}
.center {
	text-align: center;
}

/* preloader section */
.preloader  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  background-color: #F6D76B;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }


/* start navigation */
.navbar-default {
  background: #1A1A1D;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
  border: none;
  margin-bottom: 0;
}
.navbar-brand, .navbar-nav li a {
  line-height: 28px;
}
.navbar-default .navbar-brand  {
  color: #eee;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav li a {
  font-size: 12px;
  letter-spacing: 1px;
	color: #eee;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
	color: #bc212e;
}
.navbar-default .navbar-nav li a button{
  padding: 7px !important;
  margin: 0 !important;
  font-size: inherit;
}
.navbar-color-primary {
	background-color: rgba(26,26,29,0.8);
}
.navbar-brand img {
	height: 30px;
	float:left;
}
.navbar-brand span {
  margin-left: 10px;
}

/* home section */
.home {
  background: url('../images/venue/fangfang-dining3.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}
.nt{
  position: relative;
  text-align: center;
  z-index: 1;
}
.home .btn {
  background: transparent;
  border-radius: 0;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 16px 42px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
	z-index: 3;
}
.home .btn:hover {
  background: #ffffff;
  color: #202020;
}
.home-img {
	margin-top: 100px;
	width: 900px;
}
.home-content{
	z-index: 2;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 0;
}

.story h1, .cusine h1, .services h1, .aboutUs-story h1 {
  margin-bottom: 20px;
}
.story p, .cuisine p, .services p, .aboutUs-story p {
  margin-bottom: 40px;
	text-align: justify;
}

.aboutUs .content {
  padding: 0 20px;
}

.services span {
  color: #bc212e;
}

/* team section */
.team {
  text-align: center;
  background-color: #121212;
}
.team h3 {
  font-size: 18px;
  line-height: 4px;
}
.team h4 {
  color: #5C5C5C;
  padding-top: 24px;
}
.team .col-md-4 {
 padding-top: 42px;
}

/* menu section */
#menu {
	background-image: url('../images/food/menu-bg.jpg');
	width: 100%;
	background-position: bottom;
	background-size: cover;
}
.menu h4 {
	line-height: 1.5;
}
.menu .col-md-8 {
  padding-bottom: 42px;
}
.menu .col-md-6 {
  padding-bottom: 18px;
}
.menu span {
  color: #5C5C5C;
}
.card {
	background-color: rgba(26, 26, 29, 0.9);
	border-color: #1A1A1D !important;
	padding: 0;
}
.opening-hours h4:first-of-type {
    float: left;
}
.opening-hours h4:last-of-type {
    float: right;
}
.opening-hours p:nth-child(2) {
    float: right;
}
.opening-hours p:nth-child(3) {
    float: left;
}
.opening-hours {
  clear: both;
}
.opening-hours-title {
  clear: both;
}
.caption h3 {
	margin-bottom: 15px;
}

/* featured dish */
.slick-dots li.slick-active button:before {
  color: #bc212e !important;
}
.slick-dots li button:before{
	font-size: 25px;
	color: #fff !important;
}

/* testimonial section */
#testimonial {
	position: relative;
	background-image: url('../images/venue/fangfang-bar.jpg');
	width: 100%;
	background-position: center;
}
.slideshow-testimonial .slideshow-content{
	background-color: rgba(0, 0, 0, 0.85);
	padding: 100px;
  /* height: 371px; */
}
.testimonial h4 {
	line-height: 1.5;
}
.testimonial .col-md-8 {
  padding-bottom: 42px;
}
.testimonial .col-md-6 {
  padding-bottom: 18px;
}

/* gallery section */
.gallery {
	background-color: #1A1A1D;
  padding-top: 80px;
  padding-bottom: 80px;
}
.gallery .col-md-4 {
  padding-top: 52px;
}
.gallery img {
  width: 100%;
  padding-bottom: 18px;
  cursor: zoom-in;
}
.gallery .col-md-4 div {
  position: relative;
  bottom: 18px;
  padding-bottom: 12px;
}
.gallery h3 {
  font-size: 18px;
  line-height: 8px;
}

/* index page gallery */
.gallery2-content {
  position: relative !important;
  top: 0;
  left: 0;
  padding-bottom: 0 !important;
}
.gallery2-content .gallery2-text {
  position: absolute !important;
	top: 0;
  left: 0;
  width: 100%;
  height: auto;
	padding: 70px 0;
  margin: 0;
	background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.3s ease;
}
.gallery2-text:hover {
  opacity: 1;
}

/* contact section */
#contact {
	background-image: url('../images/venue/fangfang-dining3.jpg');
	width: 100%;
	background-position: center;
	background-size: cover;
}
.contact {
	padding-top: 100px;
	padding-bottom: 60px;
}
.contact-padding {
	padding: 20px 10px;
}
.contact-padding .heading {
	padding-top: 15px;
}
/* .contact .hr-long {
	width: 90%;
	border-top: 1px solid #808080 !important;
} */
.contact .caption {
	padding: 30px;
}
.caption button {
	margin-top: 15px;
}
#map {
	width: 100%;
	height: 200px;
  margin-bottom: 25px;
}

/* contact-message section */
.contact-message {
  padding-top: 80px;
  padding-bottom: 100px;
}
.contact-message .col-md-8 {
  margin-bottom: 32px;
}
.contact-message .form-control {
  background: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
.contact-message .form-control:focus {
  border-color: #f9f9f9;
}
.contact-message input {
  height: 48px;
}
.contact-message input[type="submit"] {
  background: transparent;
  border: 2px solid #999;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-top: 12px;
  height: 50px;
}
.contact input[type="submit"]:hover {
  background: #999;
  color: #ffffff;
}

/* newsletter section */
.newsletter {
  padding-top: 80px;
  padding-bottom: 100px;
	background: #343434;
}
.newsletter .col-md-8 {
  margin-bottom: 32px;
}
.newsletter .form-control {
  background: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
.newsletter .form-control:focus {
  border-color: #f9f9f9;
}
.newsletter input {
  height: 48px;
}
.newsletter input[type="submit"] {
  background: transparent;
  border: 2px solid #999;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-top: 12px;
  height: 50px;
}
.newsletter input[type="submit"]:hover {
  background: #999;
  color: #ffffff;
}
.newsletter h5 {
  margin: 30px 0;
  padding: 0;
}

/* menu slideshow */
.slideshow {
	margin-top: 30px;
}
.slideshow-content {
	position: relative;
	margin: 0 10px;
}
.slideshow img {
	width:100%;
}
.slideshow-text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 15px;
	background-color: rgba(0, 0, 0, 0.5);
}

/* footer section */
footer {
  background: url('../images/venue/Fang Fang Lounge Interior.jpg') 50% 0 repeat-y fixed;
	position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
footer h2 {
  padding-bottom: 14px;
}
footer h3 {
  padding-top: 8px;
}
footer p {
  color: #ffffff;
}
footer span {
  font-weight: bold;
  padding-left: 24px;
}
footer .ph, footer .address, footer .email {
  padding-top: 12px;
  padding-bottom: 12px;
}
footer .fa {
  font-size: 12px;
  padding-right: 10px;
}
.footer-content{
	z-index: 2;
}

/* social icon */
.social-icon {
  padding: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.social-icon li a {
  background: #f0f0f0;
  border-radius: 50%;
  color: #5C5C5C;
  font-size: 16px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-top: 12px;
  margin-right: 16px;
  top: 0;
  position: relative;
  padding: 0;
}
.social-icon li a:hover {
  background: #bc212e;
	color: #eee;
  top: 5px;
}

/* copyright section */
.copyright {
  background: #343434;
  color: #ffffff;
  padding: 25px 0;
  text-align: center;
}
.copyright p {
  color: #ffffff;
}
.copyright a {
  color: #ffffff;
}
.copyright a:hover {
  color: #FF0;
}
